*, *:before, *:after {
  box-sizing: border-box
}

html {
  font-size: 62.5%
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
  color: #313a3d;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  line-height: 1.6
}

.container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
  margin-top: 60px;
  margin-bottom: 60px;
}

.btn {
  margin: 0.1rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 1rem 1rem;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0.5rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  outline: none;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0069d9;
}

.btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

main#content a.btn {
  color: #fff;
  text-decoration: none
}

main#content a.btn:hover {
  color: #fff;
  text-decoration: none
}

main#content header#post-header {
  margin: 48px 0 12px 0
}

main#content a {
  color: #007dfa;
  text-decoration: none
}

main#content a:hover {
  text-decoration: underline
}

main#content h1, main#content h2, main#content h3, main#content h4, main#content h5, main#content h6 {
  margin-bottom: 0;
  line-height: 1.15
}

main#content h3 {
  font-size: 19px;
  font-size: 1.9rem
}

main#content h1+p, main#content h2+p, main#content h3+p, main#content h4+p, main#content h5+p, main#content h6+p {
  margin-top: 5px
}

main#content p {
  color: #394548;
  margin: 16px 0
}

main#content hr {
  height: 1px;
  border: 0;
  background: #d8d8d8
}

main#content abbr {
  cursor: help
}

main#content ul#posts {
  list-style-type: none;
  font-size: 16px;
  font-size: 1.6rem;
  margin-top: 0;
  padding: 0
}

main#content ul#posts li {
  margin: 5px 0;
  padding: 0
}

main#content ul#posts small {
  font-size: .8em;
  color: #767676;
  margin-left: 10px
}

main#content ul#posts li a {
  text-decoration: none
}

main#content ul#posts li a:hover {
  color: #369aff
}

main#content ul#posts li a:hover small {
  color: inherit
}

main#content header#post-header h1 {
  display: block;
  font-size: 23px;
  font-size: 2.3rem;
  font-weight: 600;
  line-height: 1.15
}

main#content img {
  max-width: 100%;
  margin: 0 auto
}

main#content figure {
  margin: 16px 0
}

main#content figure img {
  display: block;
  max-width: 100%;
  margin: 0 auto
}

main#content figure figcaption {
  font-size: .92em;
  font-style: italic;
  line-height: 22px;
  text-align: center;
  margin-top: 6px;
  padding: 0 10px
}

main#content figure figcaption h4 {
  font-style: normal;
  display: inline;
  margin: 0
}

main#content figure figcaption p {
  display: inline;
  margin: 0;
  padding-left: 8px
}

main#content blockquote {
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc
}

main#content code, main#content pre {
  font-family: menlo, monospace
}

main#content code {
  font-size: .96em;
  padding: 0 5px
}

main#content pre {
  display: block;
  overflow-x: auto;
  font-size: 14px;
  font-size: 1.4rem;
  white-space: pre;
  margin: 20px 0;
  padding: 1.5rem;
  line-height: 1.4
}

main#content pre code {
  padding: 0
}

main#content section.footnotes {
  font-size: .9em
}

footer#footer {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #b3b3b3;
  margin: 40px 0
}

@media(min-width:770px) {
  body {
    width: 600px;
    line-height: 1.5
  }

  main#content hr {
    width: 108%;
    margin-left: -3.8%
  }

  main#content h3 {
    font-size: 20px;
    font-size: 2rem
  }

  main#content ul#posts {
    font-size: 18px;
    font-size: 1.8rem
  }

  main#content header#post-header h1 {
    font-size: 24px;
    font-size: 2.4rem
  }

  main#content img {
    max-width: 108%;
    margin-left: -3.8%
  }

  main#content figure {
    margin-left: -3.8%
  }

  main#content figure img {
    max-width: 108%
  }

  main#content pre {
    width: 108%;
    margin-left: -3.8%;
    padding: 1.5rem 2.2rem
  }
}

@media(prefers-color-scheme:dark) {
  html {
    scrollbar-color: #6c6c6c #2e2e2e
  }

  body {
    color: #ebebeb;
    background: #121212;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }

  main#content a {
    color: #00b1ed
  }

  main#content p {
    color: #f5f5f5
  }

  main#content hr {
    background: #5c5c5c
  }

  main#content #toc h4 {
    color: #d4d4d4
  }

  main#content ul#posts small {
    color: #a7a7a7
  }

  main#content ul#posts li a:hover {
    color: #21c7ff
  }
}
